<section class="menu menu-fix" id="menu">
  <nav>
    <!-- desktop-menu -->
    <div class="menu-container">
      <ul class="desktop-menu list-inline mb-0" id="desktop-menu">
        {{ range .Site.Menus.main }}
        <li class="menu-item hvr-underline-from-left {{ .Weight }}">
          <a href="{{ if hasPrefix .URL "#" }}{{ "/" | relURL }}{{ .URL }}{{ else }}{{ .URL | relURL }}{{ end }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <!-- mobile-menu -->
      <div class="mobile-menu">
        <div class="mobile-menu-nav">
          <a class="menu-link">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <div class="menu-slider">
          <nav>
            <ul class="mobile-menu-list">
              {{ range .Site.Menus.main }}
              <li class="mobile-menu-item 1 mx-auto">
                <a href="{{ if hasPrefix .URL "#" }}{{ "/" | relURL }}{{ .URL }}{{ else }}{{ .URL | relURL }}{{ end }}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
            <ul class="mobile-menu-icons list-inline mx-auto">
              {{ range .Site.Params.social }}
              <li>
                <a href="{{ .link | safeURL }}"
                  ><i class="fab {{ .icon }} fa-2x"></i
                ></a>
              </li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </nav>
</section>
